{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template tiny_edusharing/modal

    Modal to manage an edu-sharing activity within the Tiny Editor.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:

    Example context (json):
    {
        "node": "b956d6b1-26c4-41b4-8a4a-13a16983c4ad"
    }
}}

<div class="edusharing-placeholder" contenteditable="false" style="{{ edusharingStyle }}">
    {{# edusharingImg }}
        <img class="edusharing_atto" alt="{{ edusharingTitle }}" title="{{ edusharingTitle }}" src="{{ edusharingPreviewSrc }}" width="{{ edusharingWidth }}" height="{{ edusharingHeight }}" {{# dataEdited}}data-edited="1"{{/ dataEdited}}>
        {{# edusharingInsertCaption }}
            <p class="edusharing_caption">{{ edusharingCaption }}</p>
        {{/ edusharingInsertCaption }}
    {{/ edusharingImg }}

    {{# edusharingRef }}
        <a class="edusharing_atto" href="{{ edusharingPreviewSrc }}" title="{{ edusharingTitle }}">{{ edusharingTitle }}</a>
    {{/ edusharingRef }}
</div>
